$primary-gradient: radial-gradient(rgba(58, 171, 236, 0.801), rgba(5, 79, 121, 0.411));

main{
    display: flex;
    gap: 20px;
    .content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .top{
            display: flex;
            gap: 40px;
            form{
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 25px;
                border-radius: 25px;
                background: $primary-gradient;
                justify-content: center;
                align-items: center;
                h2{
                    text-align: center;
                    margin-bottom: 10px;
                }
                .input-container{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .radio-buttons{
                        width: 100%;
                        display: flex;
                        gap: 15px;
                    }
                    input{
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
                .hours-container{
                    display: grid;
                    grid-template-columns: 0.3fr 0.6fr 1fr;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    input[type="checkbox"]{
                        accent-color: purple;
                    }
                    input[type="time"]{
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;
                    }
                    padding-bottom: 10px;
                }
                hr{
                    margin: 5px 0px;
                }
                .row{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                    h3{
                        text-align: center;
                        padding: 0px 10px 0px 0px;
                    }
                }
                button{
                    min-width: 70px;
                    padding: 10px;
                    margin-top: 10px;
                    font-size: 1em;
                    font-weight: bold;
                    border-radius: 10px;
                    color: white;
                    border: white solid 1px;
                    background: radial-gradient( rgb(114, 19, 114),rgb(146, 20, 146));
                    transition: 0.2s ease-in;
                    &:hover{
                        background: radial-gradient(rgb(146, 20, 146), rgb(114, 19, 114));
                        box-shadow: 5px -5px white;
                    }
                }
            }
        }
    }
    .bottom{
        width: 100%;
        
    }
}