*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: radial-gradient(rgb(6, 226, 226),rgb(0, 109, 128));
    color: rgb(255, 255, 255);
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: black;
    padding: 15px 15px;
    color: white;
    gap: 40px;
    a{
       color: white;
       text-decoration: none;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 10px;
       img{
        width: 60px;
        height: auto;
       }
       h1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
       }
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        a{
            border: solid rgb(179, 173, 173) 2px;
            padding: 15px;
            border-radius: 20px;
            &.active{
                background: radial-gradient(rgba(255, 0, 255, 0.404),rgb(122, 4, 138));
            }
            transition: 0.2s ease-in;
            &:hover{
                box-shadow: 5px -5px rgba(4, 185, 185, 0.596);
            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:40px;
}